.annonce{
  font : normal 1.4em "Metropolis";
  text-align: center;
}
.avis{
  width: 80%;
}
.avis .card{
  margin-left: 5%;
  position: relative;
  width: 100%;
}
.avis img{
  display: inline-flex;
  width: 180px;
  height: 255px;
}
.avis h1{
  display: inline-flex;
  vertical-align:top;
  margin: 0 0 0 15px;
}
.avis h1.note{
  float: right;
  margin: 0;
}
.avis p{
  display: inline-flex;
  margin: 0;
  position: absolute;
  top: 55px;
  left: 200px;
  height: 207px;
  padding-right: 5px;
  font : normal 1.4em "Metropolis";
  text-align: justify;
  overflow-y: scroll;
}
.avis hr{
  height: 2px;
  background-color: lightgrey;
  width: 80%;
  border: none;
  margin: 25px auto 25px auto;
}
/*------------------RESPONSIVE DESIGN--------------------------*/
@media screen and (max-width: 699px) { /*Smartphone*/
  .avis img{
    width: 100px;
    height: auto;
  }
  .avis p{
    top: 30px;
    left: 105px;
    height: 130px;
    padding-right: 5px;
    font-size: 1em;
  }
  .avis h1{
    margin: 0;
    font-size: 0.9em;
  }
  .avis h1.note{
    font-size: 0.8em;
  }
}
@media only screen and (min-width: 700px) and (max-width: 949px) { /*Tablette*/
  .avis h1{
    margin: 0 0 0 5px;
  }
}
