.annonce{
  font : normal 1.4em "Metropolis";
  text-align: center;
}
.carousel-item{
  width: 150px;
  height: 215px;
  margin: 0px 10px 0px 10px;
  position: relative;
}
.carousel{
  display: inline-flex;
  margin: 10px;
  width: 90%;
  height:230px;
  overflow-y: hidden;
  overflow: scroll;
  margin: 10px 15px 10px 15px;
  white-space: nowrap;
}
.item
{
  position: relative;
}
.item a{
  text-decoration: none;
  color: black;
}
.item img{
  margin: 0px 10px 0px 10px;
  width: 150px;
  height: 215px;
}
.note{
  position: absolute;
  justify-content: center;
  border: 2px solid grey;
  border-radius: 50%;
  font : normal 1.5em "Spotify";
  background-color: rgba(0,0,0,.8);
  color: white;
  top: 0px;
  width: 50px;
  height: 50px;
  margin : 80px 0 0 58px;
  text-align: center;
  line-height: 52px;
}
/* Scrollbar des carousel*/
.carousel::-webkit-scrollbar
{
  height: 4px;
}
.carousel::-webkit-scrollbar-thumb
{
	background-color: #000000;
}
.carousel::-webkit-scrollbar-thumb:hover {
    cursor: col-resize;
    border-radius: 10px;
}
