body {
  margin: 0;
  background-color: white;
}
hr{
  width: 66%;
  height: 3px;
  background-color:#575756;
  border-color: transparent;
  border-radius: 33px;
}
figure{
  display: inline;
  font : normal 1.2em "Spotify";
}
figcaption{
  display: table-caption;
  caption-side: top;
}
a{
  text-decoration: none;
  color: black;
}
.carousel-item{
  width: 150px;
  height: 215px;
  margin: 0px 10px 0px 10px;
}
.carousel{
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  height:230px;
  margin: 10px 0px 10px 0px;
}
/* Scrollbar des carousel*/
.carousel::-webkit-scrollbar
{
  height: 6px;
}
.carousel::-webkit-scrollbar-thumb
{
	background-color: #000000;
}
/*------------------RESPONSIVE DESIGN--------------------------*/
@media screen and (max-width: 699px) { /*Smartphone*/
  hr{
    width: 80%;
    height: 2px;
  }
}

@media only screen and (min-width: 699.1px) and (max-width: 949px) { /*Tablette*/
  /*A FAIRE*/
}
