body {
  margin: 0;
  background-color: white;
  font-family: "Metropolis";
}
h2{
  font-family: "Spotify";
}
br{
  height: 50px;
}
.inscription h2,p{
  text-align: center !important;
}
.inscription{
  font-size: 1.1em;
  position: static;
  display: inline-block;
  align-items: center;
  width: 50%;
  margin:1% 0 0 25%;
  text-align: left;
}
.inscription input{
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border: 2px solid lightgrey;
  border-radius: 33px;
  outline: none;
  padding-left: 15px;
  font-size: 1.05em;
  margin: 10px 0 30px 0;
}
.inscription .formBTN{
  width: 40%;
  cursor: pointer;
  background-color: #1ED760;
  color: #FFFFFF;
  border: none;
  margin: 10px 0 10px 30%;
  display : block;
  text-align: center;
}
.inscription .formBTN:hover{
  color: #000000;
}
.inscription label{
  margin-bottom: 50px;
}
a.connect{
  text-decoration: none;
  color: #000000;
  font-size: 0.8em;
}
a.connect:hover{
  color: #1ED760;
  background: none;
}
a.connect p{
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: 15px;
}
@media screen and (max-width: 699px) { /*Smartphone*/
  hr{
    width: 80%;
    height: 2px;
  }
  .inscription{
    width: 70%;
    margin:1% 0 0 15%;
    font-size: 0.85em;
  }
  .inscription input{
    height: 40px;
  }
  .inscription .formBTN{
    width: 79%;
    margin: 0px 0 10px 10%;
  }
  .connect p{
    position: flex;
    text-align: justify;
    top: 82%;
    display: inline;
    left: -13%;
    margin: auto;
  }
}

@media only screen and (min-width: 699.1px) and (max-width: 949px) { /*Tablette*/
  .inscription .formBTN{
    width: 79%;
    margin: 0px 0 10px 10%;
  }
  .connect p{
    text-align: justify;
    position: absolute;
    top: 82%;
    display: inline;
    left: -13%;
    width: 60%;
  }
}
