body {
  margin: 0;
  background-color: #FFFFFF;
}
hr{
  width: 66%;
  height: 3px;
  background-color:#575756;
  border-color: transparent;
  border-radius: 33px;
}
.synopsis{
  font: normal 1.5em "Metropolis";
  width: 80%;
  margin-left: 5%;
  text-align: justify;
  line-height: 40px;
}
/*----------------------Bandeau-------------------------*/
.bandeau{
  color: black;
  font: normal 1.5em "Metropolis";
  width: 100%;
  height: 350px;
  background-color :#2D2D2D;
}
.bandeau img{
  width: 150px;
}
.bandeau .addListe input{
  width: 35px;
  height: 35px;
  border-width: 0px;
  border-radius: 50%;
}
/*----------------------Notation-------------------------*/
.rating-widget{
  display: inline-flex;
}
.rating-stars ul {
  list-style-type:none;
  padding:0;
  margin: 0;
  user-select: none
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
}
.rating-stars ul > li.star > i.fa {
  font-size:1.5em;
  color:#ccc;
}
.rating-stars ul > li.star.hover > i.fa {
  color:#9afebf;
}
.rating-stars ul > li.star.selected > i.fa {
  color:#1cca59;
}
/* -----------------------Formulaire Avis---------------------- */
.form_avis{
  width: 100%;
  margin: 20px 0 0 0;
  display: none;
  border-radius: 4px;
  box-sizing: border-box;
}
.form_avis input[type=text]{
  border : 1px solid #E1E4E8;
  background-color: #FAFBFC;
  font: normal 1em "Metropolis";
  width: 20%;
  height: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
  outline: none;
  display: block;
}
.form_avis textarea{
  border : 1px solid #E1E4E8;
  background-color: #FAFBFC;
  font: normal 1em "Metropolis";
  width: 80%;
  height: 150px;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
  line-height: 30px;
  outline: none;
  display: block;
}
.submit_avis{
  width: 80px;
  height: 20px;
  margin-top: 15px;
  border : 2px solid #1ED760;
  background-color: white;
  font: normal 0.8em "Metropolis";
  border-radius: 33px;
  cursor : pointer;
  outline: none;
}
.submit_avis:hover{
  text-decoration: none;
  border: none;
  background-color: #ffffff00 ;
  color: #1Ed760;
  cursor: pointer;
}
/*--------------Afficahge des avis----------------*/
.avis{
  width: 80%;
  margin-left: 5%;
}
.avis .head{
  height: 25px;
}
.avis h1{
  font: bold 1.5em "Metropolis";
  display: inline-flex;
  margin : 0;
}
.avis input.affichageAvis{
  width: 160px;
  height: 30px;
  margin-left: 15px;
  border : 2px solid #1ED760;
  background-color: white;
  font: normal 1em "Metropolis";
  border-radius: 33px;
  cursor : pointer;
  outline: none;
  }
.avis input.affichageAvis:hover{
  font-weight: bold;
}
.card .card-titre{
  font: normal 1.8em "Spotify";
}
.card-text{
  font: normal 1.2em "Metropolis";
  line-height: 30px;
  word-wrap: break-word;
}
.card-footer{
  height: 35px;
}
.card-footer .avatar {
  display: inline-flex;
  background-size: cover;
  background-position: top center;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin: 0;
  border : 1px solid #E1E4E8;
}
.card-footer p{
  display: inline-flex;
  margin: 0;
  padding: 0;
  font: normal 1.2em "Spotify";
  text-align: center;
  line-height: 43px;
  vertical-align: top;
}
.card-footer p.note{
  float: right;
  font-weight: bold;
}
.card hr{
  height: 2px;
  background-color: lightgrey;
  width: 80%;
  border: none;
}
/* -----------------------liste---------------------- */
.addliste{
  text-decoration: none;
  border: none;
  background-color: #ffffff00 ;
  cursor: pointer;
}
.addliste:hover{
  text-decoration: none;
  border: none;
  background-color: #ffffff00 ;
  color: #1Ed760;
  cursor: pointer;
}
