.back{
  margin: 20px 0 0 20px;
  width: 22px;
  height: auto;
  position: absolute;
}
.global{
  width: 100%;
  font: bold 1em "Metropolis";
}
.global input[type=text], input[type=password]{
  border : 1px solid #E1E4E8;
  background-color: #FAFBFC;
  font: normal 1em "Metropolis";
  width: 20%;
  height: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
  outline: none;
}
.formImage{
  display: block;
  float: right;
}
.avatar {
    display: inline-flex;
    background-size: cover;
    background-position: top center;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    border : 2px solid #E1E4E8;
}
.choose{
  font: normal 1em "Metropolis";
}
.inputfile{
  display: none;
}
.inputfile + label {
    display: inline-block;
}
.inputfile:focus + label,
.inputfile + label:hover {
    color: #1ED760;
    cursor: pointer;
}
.confirmation{
  width: 30%;
  height: auto;
  border: solid #575756;
  border-radius: 1%;
  box-shadow: 12px 12px 5px 1px rgba(40, 40, 40, .5);
  left: 35%;
  top: 40%;
  text-align: center;
  position: absolute;
  background-color: white;
  filter: blur(0px) !important;
}
.fullpage{
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  position :absolute;
  display: none;
  z-index: 2;
  top: 0;
  filter: blur(0px);
  background-color: rgba(40, 40, 40, .5);
}
form{
  margin-left: 20%;
}
.formImage{
  margin: 0px;
}
.form_apropos textarea{
  border : 1px solid #E1E4E8;
  background-color: #FAFBFC;
  font: normal 1em "Metropolis";
  width: 48%;
  height: 100px;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
  outline: none;
}
.form_apropos input[type=submit]{
  width: 100px;
  height: 30px;
  border : 2px solid #1ED760;
  background-color: #1ED760;
  font: normal 1em "Metropolis";
  border-radius: 33px;
  cursor : pointer;
}
.form_apropos input[type=submit]:hover{
  color: white;
}
h2{
  text-align: center;
  font-family: "Spotify";
}
.film{
  margin-right: 5.5px;
}
.parametre_hr{
  width: 66%;
  height: 1px;
  background-color:#575756;
  border-color: transparent;
  border-radius: 33px;
}
.favoris{
  width: 70%;
  margin: auto;
  display: inline-flex;
}
.favoris-child{
  margin-right: 7%;
}
.favoris input[type=text]{
  width: 100%;
}
.favoris input[type=text]{
  width: 100%;
}
