body {
  margin: 0;
  background-color: white;
}
hr{
  width: 66%;
  height: 3px;
  background-color:#575756;
  border-color: transparent;
  border-radius: 33px;
}
.menu_smartphone{display: none;}
.resume{
  width: 100%;
  display: inline-block;
  position: static;
}
.avatar {
    display: inline-flex;
    background-size: cover;
    background-position: top center;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin: 0px 0px 0px 15px;
    border : 2px solid #E1E4E8;
}
.resume a{
  color :black;
  font: bold 1.5em "Metropolis";
}
.resume figcaption{
  font: bold 1.5em "Metropolis";
  display: inline;
  position: absolute;
  margin: 80px 0 0 15px;
}
.resume img.parametre{
  width: 40px;
  float: right;
  right: 30px;
  margin-top: 20px;
  position: absolute;
}
.resume img.admin{
  width: 40px;
  float: right;
  right: 60px;
  margin: 20px 35px 0 0;
  position: absolute;
}
.resume span{
  font: bold 1.5em "Metropolis";
  margin: 130px 50px 0 0;
  float: right;
  display: inline-block;
}
.menu{
  height: 60px;
  width: 100%;
  background-color: #2D2D2D;
  text-align: center;
  vertical-align: bottom ;
}
.menu .choix li{
  list-style-type: none;
  position: relative;
  display:inline;
  font: bold 1.4em "Metropolis";
  margin-right: 4.5%;
  top: 20px;
}
.menu .choix .barre{
  color: #FFFFFF;
  cursor: default;
  user-select: none;
}
.menu .choix a{
  text-decoration: none;
  color: #FFFFFF;
}
.menu .choix a:hover{
  color: #1ED760;
}
a.active{
  color: #1ED760 !important;
}
.navbar a button.profilBTN{
  color: #1ED760 !important;
}
/*Information sur le profil*/
h1{
  font-family: "Spotify";
  margin-left: 20px;
}
p{
  font-family: "Metropolis";
  margin-left: 20px;
}
a.site{
  color: black;
}
a.site:hover{
  color: #1ED760;
}
.gauche{
  width: 50%;
  height: 250px;
  display: block;
  float: left;
}
.bio p{
  text-align: justify;
  padding-right: 50px;
  line-height: 30px;
}
/*------------------RESPONSIVE DESIGN--------------------------*/
@media screen and (max-width: 699px) { /*Smartphone*/
  .avatar {
    margin-bottom: 35px;
  }
  .resume{
    width: 100%;
    display: inline-block;
    position: relative;
  }
  .resume figcaption{
    font: bold 1.5em "Metropolis";
    display: inline;
    position: absolute;
    margin: 85px 0 0 15px;
  }
  .resume img.parametre{
    width: 35px;
    height: auto;
    float: right;
    right: 25px;
    margin-top: 5px;
    position: absolute;
  }
  .resume img.admin{
    width: 35px;
    float: right;
    right: 50px;
    margin: 5px 35px 0 0;
    position: absolute;
  }
  .resume span{
    font-size: 1.2em;
    position: absolute;
    bottom: 0;
    margin: 0;
  }
  .un{
    left : 70px;
  }
  .deux{
    right : 70px;
  }
  .menu{display: none;}
  .menu_smartphone{
    display: block;
    height: 60px;
    width: 100%;
    background-color: /*#2D2D2D*/#1ED760;
    text-align: center;
    vertical-align: bottom ;
  }
  .menu_smartphone .choix_smartphone{
    padding-left: 10px;
  }
  .menu_smartphone .choix_smartphone li{
    list-style-type: none;
    position: relative;
    display:inline;
    font: bold 1.4em "Metropolis";
    margin-right: 2%;
    top: 8px;
  }
  .menu_smartphone .choix_smartphone .barre_smartphone{
    color: #000000;
    cursor: default;
    user-select: none;
  }
  .menu_smartphone .choix_smartphone a{
    text-decoration: none;
    color: #FFFFFF;
  }
  .menu_smartphone .choix_smartphone a:hover{
    color: #1ED760;
  }
  .menu_smartphone .choix_smartphone img.choix_img{
    width: 30px;
    height: auto;
    list-style-type: none;
    position: relative;
    display:inline;
    margin-right: 3%;
    top: 13.5px;
  }
  /*Information sur le profil*/
  .about{
    text-align: center;
  }
  h1{
    font-size: 1em;
    margin-left: 0;
  }
  p{
    font-size: 0.8em;
    margin-left: 0;
  }
  .gauche{
    width: 50%;
    height: 180px;
    display: block;
    align-self: auto;
    overflow: scroll;
  }
  .bio h1{
    padding-left: 5px;
  }
  .bio p{
    text-align: center;
    padding: 0 5px 0 10px;
    line-height: 20px;
  }
  .carou{
    display: block
  }
  /*scroll bar bio*/
  .bio::-webkit-scrollbar
  {
    width: 4px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 949px) { /*Tablette*/
  .menu_smartphone{display: none;}
  /*A FAIRE*/
}
